.App {
  max-width: 980px;
  margin: 0 auto;
}

nav {
  background-color: #00f;
}

nav ul {
  list-style-type: noneS;
}

nav li {
  display: inline-block;
  margin-right: 6px;
}

nav ul li a {
  color: #fff;
}
